@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  font-family: "Inter", sans-serif;
  max-width: 45em;
  margin: 0 auto;
  padding-top: 3em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #f0f0f0; /* Light gray background color */
  /* Or you can use a background image instead */
  background-image: url("https://github.com/Meet-Vyas-Dev/Meet-Vyas-Dev.github.io/blob/main/background.jpg");
  background-size: cover; /* To make the image cover the entire background */
  background-position: center; /* To center the background image */
  background-repeat: no-repeat; /* To prevent the background image from repeating */
}

h1 {
  font-size: 2em;
  color: grey; /* White color for better contrast */
}

h2 {
  font-size: 1.375em;
  font-weight: normal;
  color: grey; /* Off-white color for better contrast */
}

p {
  font-size: 1.125em;
  color: black; /* Light gray color for better contrast */
}

a {
  font-weight: bold;
  color: black; /* Vibrant blue color for links */
  text-decoration: none;
}

a:hover {
  text-decoration: underline; /* Add underline on hover for better feedback */
}
